# Python (Django) Related
venv/                   # Virtual environment
__pycache__/            # Byte-compiled files
*.py[cod]               # Python cache files
*.sqlite3               # SQLite database (if used in development)
*.log                   # Log files

# Django Related
*.env                   # Environment variables
/staticfiles/           # Static files collected by Django
/media/                 # User-uploaded media files (if managed by Django)
db.sqlite3              # SQLite database file
celerybeat-schedule     # Celery schedule database (if using Celery)

# Node (React) Related
node_modules/           # Node.js dependencies
npm-debug.log           # npm error log
yarn-error.log          # yarn error log
*.cache                 # Cache files

# Build Artifacts
dist/                   # Build folder (if using custom build commands)
build/                  # Build folder (for React build output)
*.js.map                # Source map files

# OS Specific
.DS_Store               # macOS specific
Thumbs.db               # Windows specific

# IDEs and Editors
.vscode/                # Visual Studio Code config
.idea/                  # IntelliJ IDEA config
*.sublime-project       # Sublime Text project files
*.sublime-workspace     # Sublime Text workspace files

# Miscellaneous
*.bak                   # Backup files
*.swp                   # Vim swap files
*.swp                   # vim temporary files