# --- Python (Django) Related --- #

# Virtual environment
venv/
# Byte-compiled files
__pycache__/
# Python cache files            
*.py[cod]
# SQLite database (if used in development)               
*.sqlite3
# Log files               
*.log                   

# --- Django Related --- #

# Environment variables
*.env                   
# Static files collected by Django
/staticfiles/           
# User-uploaded media files (if managed by Django)
/media/                 
# SQLite database file
db.sqlite3              
# Celery schedule database (if using Celery)
celerybeat-schedule     

# --- Node (React) Related --- #

# Node.js dependencies
node_modules/        
# npm error log   
npm-debug.log           
# yarn error log
yarn-error.log          
# Cache files
*.cache                 

# --- Build Artifacts --- #

# Build folder (if using custom build commands)
dist/         
# Build folder (for React build output)          
build/                  
# Source map files
*.js.map                

# --- OS Specific --- #

# macOS specific
.DS_Store               
# Windows specific
Thumbs.db               

# --- IDEs and Editors --- #

# Visual Studio Code config
.vscode/                
# IntelliJ IDEA config
.idea/                  
# Sublime Text project files
*.sublime-project       
# Sublime Text workspace files
*.sublime-workspace

# --- Miscellaneous --- #

# Backup files
*.bak                   
# Vim swap/temporary files
*.swp                   
                   